"$schema" = 'https://starship.rs/config-schema.json'

format = """
$directory\
$git_branch\
$git_status\
$cmd_duration\
$fill\
${custom.devenv}\n\
$character\
"""

palette = "rose-pine"

[palettes.rose-pine]
overlay = '#26233a'
love = '#eb6f92'
gold = '#f6c177'
rose = '#ebbcba'
pine = '#31748f'
foam = '#9ccfd8'
iris = '#c4a7e7'

# Directory
[directory]
style = "fg:pine"
format = "[$path]($style) "
truncation_length = 3
truncation_symbol = "…/"

# Git branch
[git_branch]
symbol = ""
style = "fg:foam"
format = "[$symbol $branch]($style) "

# Git status
[git_status]
style = "fg:love"
format = '[$all_status$ahead_behind]($style) '

# Fill (pushes following modules to right side in bash)
[fill]
symbol = " "
style = "fg:overlay"

# Command duration
[cmd_duration]
min_time = 1000
format = "took [$duration](fg:gold) "

# Prompt character
[character]
success_symbol = "[➜](bold rose)"
error_symbol = "[➜](bold love)"

[custom.devenv]
disabled = false
command = "echo  $DEVENV"
when = "env | grep -q '^DEVENV='"
style = "fg:rose"
